.mt-0 {
	margin-top: 0 !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}

.hs-line-6 {
	opacity: 1;
}

.btn-mod.btn-w {
	background-color: #fff;
}

.btn-mod.btn-w:hover,
.btn-mod.btn-w:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

.works-grid.hover-white .work-item:hover .work-img:after {
	background-color: rgba(0, 0, 0, 0.7);
}

.works-grid.hover-white .work-item:hover .work-intro,
.works-grid.hover-white .work-item:hover .work-title,
.works-grid.hover-white .work-item:hover .work-descr {
	color: #fff;
}
