.mt-0 {
	margin-top: 0 !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}

.hs-line-6 {
	opacity: 1;
}

.btn-mod.btn-w {
	background-color: #fff;
}

.btn-mod.btn-w:hover, .btn-mod.btn-w:focus {
	background-color: rgba(255, 255, 255, .8);
}
