<aside class="news-nav-container">
	<header>
		<h1 class="hs-line-11 font-alt">News</h1>
		<i id="controller" class="fa fa-sign-out" aria-hidden="true"></i>
	</header>
	<ul class="nav nav-tabs">
		<li class="active">
			<a class="news-link" href="#news4" data-toggle="tab">
				<img
					src="./dist/images/news/270w/award-270w.jpg"
					alt="Maitree Super Thermal Power Project"
				/>
				<h2>Maitree Super Thermal Power Project</h2>
				<p class="author">
					<i class="fa fa-user" aria-hidden="true"></i>
					Admin
				</p>
				<p class="date">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<time datetime="2022-03-17">March 17, 2022</time>
				</p>
				<i
					class="fa fa-arrow-circle-o-down indicator"
					aria-hidden="true"
				></i>
			</a>
		</li>
		<li>
			<a class="news-link" href="#news3" data-toggle="tab">
				<img
					src="./dist/images/news/270w/rnpp1-270w.jpg"
					alt="Rooppur Nuclear Power Plant"
				/>
				<h2>Rooppur Nuclear Power Plant</h2>
				<p class="author">
					<i class="fa fa-user" aria-hidden="true"></i>
					Admin
				</p>
				<p class="date">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<time datetime="2017-11-14">November 14, 2017</time>
				</p>
				<i
					class="fa fa-arrow-circle-o-down indicator"
					aria-hidden="true"
				></i>
			</a>
		</li>
		<li>
			<a class="news-link" href="#news2" data-toggle="tab">
				<img
					src="./dist/images/news/270w/dhaka-metrorail-270w.jpg"
					alt="Dhaka Mass Rapid Transit Project"
				/>
				<h2>Dhaka Mass Rapid Transit Project</h2>
				<p class="author">
					<i class="fa fa-user" aria-hidden="true"></i>
					Admin
				</p>
				<p class="date">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<time datetime="2020-03-22">March 22, 2020</time>
				</p>
				<i
					class="fa fa-arrow-circle-o-down indicator"
					aria-hidden="true"
				></i>
			</a>
		</li>
		<li>
			<a class="news-link" href="#news1" data-toggle="tab">
				<img
					src="./dist/images/news/270w/diaphragm-wall-270w.jpg"
					alt='"Diaphragm Wall" First Time Ever!'
				/>
				<h2>"Diaphragm Wall" First Time Ever!</h2>
				<p class="author">
					<i class="fa fa-user" aria-hidden="true"></i>
					Admin
				</p>
				<p class="date">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<time datetime="2016-12-03">December 3, 2016</time>
				</p>
				<i
					class="fa fa-arrow-circle-o-down indicator"
					aria-hidden="true"
				></i>
			</a>
		</li>
	</ul>
</aside>
