<div id="news8" class="tab-pane fade in active news-tab">
	<article>
		<header>
			<h2 class="font-alt">Inauguration of NH Tower Project</h2>
			<img
				class="news-image mb-10"
				src="./dist/images/news/960w/news8-1-960w.jpg"
				alt="Inauguration of NH Tower Project"
				loading="lazy"
			/>
			<p class="author">
				<i class="fa fa-user" aria-hidden="true"></i>
				Admin
			</p>
			<p class="date">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time datetime="2024-01-01">January 1, 2024</time>
			</p>
		</header>
		<p>
			Next Spaces Limited launched its latest project in Tejgaon, Dhaka this
			morning, marking the beginning of 2024. The new development is set to
			encompass 32 floors along with 5 basements. Notable figures such as Mr.
			Bimal Chandra Roy, Mr. Khalid Ahmed Khan, and Mr. Khondkar Nazmul
			Hassan attended the ceremony, actively participating in the
			proceedings. Ground improvement initiatives, including piling works,
			are scheduled to kick off on January 1, 2024.
		</p>
		<div class="multi-img-holder">
			<img
				class="news-image"
				src="./dist/images/news/960w/news8-2-960w.jpg"
				alt="Inauguration of NH Tower Project"
				loading="lazy"
			/>
			<img
				class="news-image"
				src="./dist/images/news/960w/news8-3-960w.jpg"
				alt="Inauguration of NH Tower Project"
				loading="lazy"
			/>
			<img
				class="news-image"
				src="./dist/images/news/960w/news8-4-960w.jpg"
				alt="Inauguration of NH Tower Project"
				loading="lazy"
			/>
			<img
				class="news-image"
				src="./dist/images/news/960w/news8-5-960w.jpg"
				alt="Inauguration of NH Tower Project"
				loading="lazy"
			/>
		</div>
	</article>
</div>
