<div id="news9" class="tab-pane fade in active news-tab">
	<article>
		<header>
			<h2 class="font-alt">New equipment to the fleet!</h2>
			<img
				class="news-image mb-10"
				src="./dist/images/news/1920w/news9-1-1920w.jpg"
				alt="New equipment to the fleet!"
				loading="lazy"
			/>
			<p class="author">
				<i class="fa fa-user" aria-hidden="true"></i>
				Admin
			</p>
			<p class="date">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time datetime="2024-05-27">May 27, 2024</time>
			</p>
		</header>
		<p>
			Next Spaces Limited introduces four brand new BAUER GB-80S and six DHG
			V/SF hydraulic diaphragm wall grab machines to their fleet. This
			addition will enable the company to expand its capabilities to execute
			projects that require such advanced technology. These machines can
			construct diaphragm walls (D-Wall) up to 80 meters deep and 1500mm
			wide.
		</p>
		<div>
			<img
				class="news-image"
				src="./dist/images/news/960w/news9-2-858w.jpg"
				alt="New equipment to the fleet!"
				loading="lazy"
			/>
		</div>
	</article>
</div>
