<div id="news5" class="tab-pane fade news-tab">
	<article>
		<header>
			<h2 class="font-alt">Signing ceremony Vistanext Ltd.</h2>
			<picture class="news-image mb-10">
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news5-1-480w.avif    480w,
						./dist/images/news/960w/news5-1-960w.avif    960w,
						./dist/images/news/1920w/news5-1-1920w.avif 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news5-1-480w.webp    480w,
						./dist/images/news/960w/news5-1-960w.webp    960w,
						./dist/images/news/1920w/news5-1-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news5-1-960w.jpg"
					srcset="
						./dist/images/news/480w/news5-1-480w.jpg    480w,
						./dist/images/news/960w/news5-1-960w.jpg    960w,
						./dist/images/news/1920w/news5-1-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt="Signing ceremony Vistanext Ltd."
				/>
			</picture>
			<p class="author">
				<i class="fa fa-user" aria-hidden="true"></i>
				Admin
			</p>
			<p class="date">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time datetime="2023-05-05">May 5, 2023</time>
			</p>
		</header>
		<p>
			Vista Contracting and Investment Global Pte Ltd, wholly owned by
			Samsung C&T, has signed a joint venture agreement with Next Spaces Ltd.
			in Bangladesh. This company by the name of Vistanext Ltd. is intending
			to increase the local capacity in construction industry of Bangladesh
			by making full use of domestic resources through the introduction of
			modern and advanced technology. It will reduce Bangladesh's dependency
			on foreign expertise and resources.
		</p>
		<p class="img-para">
			<picture>
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news5-2-480w.avif    480w,
						./dist/images/news/960w/news5-2-960w.avif    960w,
						./dist/images/news/1920w/news5-2-1920w.avif 1920w
					"
					sizes="
								(min-width: 1100px) 480px,
								(min-width: 900px) calc(100vw - 400px),
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news5-2-480w.webp    480w,
						./dist/images/news/960w/news5-2-960w.webp    960w,
						./dist/images/news/1920w/news5-2-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news5-2-480w.jpg"
					srcset="
						./dist/images/news/480w/news5-2-480w.jpg    480w,
						./dist/images/news/960w/news5-2-960w.jpg    960w,
						./dist/images/news/1920w/news5-2-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt="Signing ceremony Vistanext Ltd."
				/>
			</picture>
			<span>
				On Thursday, May 4, Vistanext Ltd. was launched in Bangladesh by
				signing of an agreement between Samsung C&T and Next Spaces Ltd.
				Present at the signing ceremony was Mr. JW Kim, Executive Vice
				President of Vista Global, Mr. Abdul Muktadir, Chairman of Next
				Spaces Ltd. and chairman/MD of Incepta Pharmaceuticals Ltd., along
				with the other board of directors and senior officials.
			</span>
		</p>
		<div class="multi-img-holder">
			<picture>
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news5-3-480w.avif    480w,
						./dist/images/news/960w/news5-3-960w.avif    960w,
						./dist/images/news/1920w/news5-3-1920w.avif 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news5-3-480w.webp    480w,
						./dist/images/news/960w/news5-3-960w.webp    960w,
						./dist/images/news/1920w/news5-3-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news5-3-480w.jpg"
					srcset="
						./dist/images/news/480w/news5-3-480w.jpg    480w,
						./dist/images/news/960w/news5-3-960w.jpg    960w,
						./dist/images/news/1920w/news5-3-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt="Signing ceremony Vistanext Ltd."
				/>
			</picture>
			<picture>
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news5-4-480w.avif    480w,
						./dist/images/news/960w/news5-4-960w.avif    960w,
						./dist/images/news/1920w/news5-4-1920w.avif 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news5-4-480w.webp    480w,
						./dist/images/news/960w/news5-4-960w.webp    960w,
						./dist/images/news/1920w/news5-4-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news5-4-480w.jpg"
					srcset="
						./dist/images/news/480w/news5-4-480w.jpg    480w,
						./dist/images/news/960w/news5-4-960w.jpg    960w,
						./dist/images/news/1920w/news5-4-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt="Signing ceremony Vistanext Ltd."
				/>
			</picture>
		</div>
		<div>
			<picture class="news-image mb-10">
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news5-5-480w.avif    480w,
						./dist/images/news/960w/news5-5-960w.avif    960w,
						./dist/images/news/1920w/news5-5-1920w.avif 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news5-5-480w.webp    480w,
						./dist/images/news/960w/news5-5-960w.webp    960w,
						./dist/images/news/1920w/news5-5-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news5-5-960w.jpg"
					srcset="
						./dist/images/news/480w/news5-5-480w.jpg    480w,
						./dist/images/news/960w/news5-5-960w.jpg    960w,
						./dist/images/news/1920w/news5-5-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt="Signing ceremony Vistanext Ltd."
				/>
			</picture>
		</div>
	</article>
</div>
