<div id="news1" class="tab-pane fade news-tab">
	<article>
		<header>
			<h2 class="font-alt">"Diaphragm Wall" First Time Ever!</h2>
			<img
				class="news-image mb-10"
				src="./dist/images/news/960w/diaphragm-wall-960w.jpg"
				alt='"Diaphragm Wall" First Time Ever!'
			/>
			<p class="author">
				<i class="fa fa-user" aria-hidden="true"></i>
				Admin
			</p>
			<p class="date">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time datetime="2016-12-03">December 3, 2016</time>
			</p>
		</header>
		<p>
			By completing the first "Diaphragm Wall" ever in Bangladesh, Next
			Spaces Limited successfully added another milestone to their very own
			achievement pouch!
		</p>
		<p>
			One of the awarded and signed projects called “BRAC University
			Institutional Building”, Next Spaces Limited has built the first time
			ever “Diaphragm Wall” in Bangladesh using brand new and highly
			sophisticated Machines & Equipment’s. The D-Wall was 600mm in width and
			22.3 meters deep and continued for 513 (approx.) meters in length. This
			requirement goes over the top of any local company, unless of course
			taken necessary measures. Next Spaces Limited used a higher graded
			Hydraulic Rotary Rig - SR60 and GK-5 Grab (which was attached with the
			Hydraulic Rotary Rig SR30 for D-Wall). A skilled operator and an
			experienced supervisor were being appointed from Italy to carry out the
			jobs at the project under Next Spaces Management. A very comfortable
			and experienced team assisted them alongside the regular required job
			at site.
		</p>
		<p class="mb-0">
			Next Spaces Limited was determined to finish and deliver the job within
			time with assured quality. Over the years, Next Space Limited has made
			a reputation on standardized working process and proper use of
			technological methods. The type and amount of work needs to be done at
			the project required a synchronized team-work from various teams
			working spontaneously to achieve their own goals. The expatriates
			joined the Next Spaces Team within a month after starting the job and
			it significantly boosted the pace of the work at site. A successful
			completion of the project added the final crown to Next Space Limited’s
			achievement ladder.
		</p>
	</article>
</div>
