<div id="news6" class="tab-pane fade news-tab">
	<article>
		<header>
			<h2 class="font-alt">Welcoming evening with Mr. Arifur Rahman</h2>
			<picture class="news-image mb-10">
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news6-1-480w.avif    480w,
						./dist/images/news/960w/news6-1-960w.avif    960w,
						./dist/images/news/1920w/news6-1-1920w.avif 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news6-1-480w.webp    480w,
						./dist/images/news/960w/news6-1-960w.webp    960w,
						./dist/images/news/1920w/news6-1-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news6-1-960w.jpg"
					srcset="
						./dist/images/news/480w/news6-1-480w.jpg    480w,
						./dist/images/news/960w/news6-1-960w.jpg    960w,
						./dist/images/news/1920w/news6-1-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt='"Welcoming evening with Mr. Arifur Rahman'
					loading="lazy"
				/>
			</picture>
			<p class="author">
				<i class="fa fa-user" aria-hidden="true"></i>
				Admin
			</p>
			<p class="date">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time datetime="2023-06-10">June 10, 2023</time>
			</p>
		</header>
		<p>
			Next Spaces Limited has organized an evening meet to welcome triathlete
			Mr. Arifur Rahman Belal along with his family and closed ones. We are
			proud and honored for having the opportunity to extend our support to
			Mr. Arif through a sponsorship program to chase his dream of becoming a
			successful triathlete in international platform.
		</p>
		<div class="multi-img-holder">
			<picture>
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news6-2-480w.avif    480w,
						./dist/images/news/960w/news6-2-960w.avif    960w,
						./dist/images/news/1920w/news6-2-1920w.avif 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news6-2-480w.webp    480w,
						./dist/images/news/960w/news6-2-960w.webp    960w,
						./dist/images/news/1920w/news6-2-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news6-2-480w.jpg"
					srcset="
						./dist/images/news/480w/news6-2-480w.jpg    480w,
						./dist/images/news/960w/news6-2-960w.jpg    960w,
						./dist/images/news/1920w/news6-2-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt='"Welcoming evening with Mr. Arifur Rahman'
					loading="lazy"
				/>
			</picture>
			<picture>
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news6-3-480w.avif    480w,
						./dist/images/news/960w/news6-3-960w.avif    960w,
						./dist/images/news/1920w/news6-3-1920w.avif 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news6-3-480w.webp    480w,
						./dist/images/news/960w/news6-3-960w.webp    960w,
						./dist/images/news/1920w/news6-3-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news6-3-480w.jpg"
					srcset="
						./dist/images/news/480w/news6-3-480w.jpg    480w,
						./dist/images/news/960w/news6-3-960w.jpg    960w,
						./dist/images/news/1920w/news6-3-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 480px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt='"Welcoming evening with Mr. Arifur Rahman'
					loading="lazy"
				/>
			</picture>
		</div>
		<div>
			<picture class="news-image mb-10">
				<source
					type="image/avif"
					srcset="
						./dist/images/news/480w/news6-4-480w.avif    480w,
						./dist/images/news/960w/news6-4-960w.avif    960w,
						./dist/images/news/1920w/news6-4-1920w.avif 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<source
					type="image/webp"
					srcset="
						./dist/images/news/480w/news6-4-480w.webp    480w,
						./dist/images/news/960w/news6-4-960w.webp    960w,
						./dist/images/news/1920w/news6-4-1920w.webp 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				/>
				<img
					class="news-image"
					src="./dist/images/news/960w/news6-4-960w.jpg"
					srcset="
						./dist/images/news/480w/news6-4-480w.jpg    480w,
						./dist/images/news/960w/news6-4-960w.jpg    960w,
						./dist/images/news/1920w/news6-4-1920w.jpg 1920w
					"
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt='"Welcoming evening with Mr. Arifur Rahman'
					loading="lazy"
				/>
			</picture>
		</div>
	</article>
</div>
