<div id="news2" class="tab-pane fade news-tab">
	<article>
		<header>
			<h2 class="font-alt">Dhaka Mass Rapid Transit Project</h2>
			<picture class="news-image mb-10">
				<source
					type="image/avif"
					srcset="
								./dist/images/news/480w/dhaka-metrorail-480w.avif 480w,
								./dist/images/news/960w/dhaka-metrorail-960w.avif 960w,
								./dist/images/news/1920w/dhaka-metrorail-1920w.avif 1920w,
							 "
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				>
				<source
					type="image/webp"
					srcset="
								./dist/images/news/480w/dhaka-metrorail-480w.webp 480w,
								./dist/images/news/960w/dhaka-metrorail-960w.webp 960w,
								./dist/images/news/1920w/dhaka-metrorail-1920w.webp 1920w,
							 "
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				>
				<img
					class="news-image"
					src="./dist/images/news/960w/dhaka-metrorail-960w.jpg"
					srcset="
								./dist/images/news/480w/dhaka-metrorail-480w.jpg 480w,
								./dist/images/news/960w/dhaka-metrorail-960w.jpg 960w,
								./dist/images/news/1920w/dhaka-metrorail-1920w.jpg 1920w,
							 "
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt="Dhaka Mass Rapid Transit Project"
				/>
			</picture>
			<p class="author">
				<i class="fa fa-user" aria-hidden="true"></i>
				Admin
			</p>
			<p class="date">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time datetime="2020-03-22">March 22, 2020</time>
			</p>
		</header>
		<p class="mb-0">
			Dhaka Mass Rapid Transit Project is one of the current running projects
			of Next Spaces Limited. Next Spaces Limited is working as a
			sub-contractor under Italian-Thai Development Public Company Limited
			for this project.
		</p>
	</article>
</div>
