<div id="news2" class="tab-pane fade news-tab">
	<article>
		<header>
			<h2 class="font-alt">Dhaka Mass Rapid Transit Project</h2>
			<img
				class="news-image mb-10"
				src="./dist/images/news/960w/dhaka-metrorail-960w.jpg"
				alt="Dhaka Mass Rapid Transit Project"
			/>
			<p class="author">
				<i class="fa fa-user" aria-hidden="true"></i>
				Admin
			</p>
			<p class="date">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time datetime="2020-03-22">March 22, 2020</time>
			</p>
		</header>
		<p class="mb-0">
			Dhaka Mass Rapid Transit Project is one of the current running projects
			of Next Spaces Limited. Next Spaces Limited is working as a
			sub-contractor under Italian-Thai Development Public Company Limited
			for this project.
		</p>
	</article>
</div>
