<div id="news4" class="tab-pane fade in active news-tab">
	<article>
		<header>
			<h2 class="font-alt">Maitree Super Thermal Power Project</h2>
			<picture class="news-image mb-10">
				<source
					type="image/avif"
					srcset="
								./dist/images/news/480w/award-480w.avif 480w,
								./dist/images/news/960w/award-960w.avif 960w,
								./dist/images/news/1920w/award-1920w.avif 1920w,
							 "
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				>
				<source
					type="image/webp"
					srcset="
								./dist/images/news/480w/award-480w.webp 480w,
								./dist/images/news/960w/award-960w.webp 960w,
								./dist/images/news/1920w/award-1920w.webp 1920w,
							 "
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
				>
				<img
					class="news-image"
					src="./dist/images/news/960w/award-960w.jpg"
					srcset="
								./dist/images/news/480w/award-480w.jpg 480w,
								./dist/images/news/960w/award-960w.jpg 960w,
								./dist/images/news/1920w/award-1920w.jpg 1920w,
							 "
					sizes="
								(min-width: 900px) 960px,
								(min-width: 768px) calc(100vw - 310px),
								calc(100vw - 40px)
							"
					alt="Certificate of appreciation"
				/>
			</picture>
			<p class="author">
				<i class="fa fa-user" aria-hidden="true"></i>
				Admin
			</p>
			<p class="date">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time datetime="2022-03-17">March 17, 2022</time>
			</p>
		</header>
		<p class="mb-0">
			Never compromising with safety and quality, Next Spaces Limited has
			aquired a prestigious title of being the "Star HSE Performer" for the
			quarter IV of FY2020-21 at Maitree Super Thermal Power Project. The
			dedication and relentless effort of the team made this achievement
			possible.
		</p>
	</article>
</div>
