<h2 class="font-alt">Construction</h2>
<p>
	It is a branch of Civil Engineering involved with the maintenance, design and
	construction of both natural and physically built environments such as roads,
	railways, buildings, reservoirs, airports, bridges, sewer systems, tunnels
	and dams. We offer cost effective construction solution for industrial and
	commercial buildings. Our dedicated team ensures the quality of the
	structures as per the design and compliances provided by the client or we
	provide our own solution for the project if our client feel the need of it.
	Utilizing the modern lifting equipment's like Tower Crane, Rough Terrain
	Crane and Crawler Cranes, we are also capable of erection works that require
	such support.
</p>
