<h2 class="font-alt">Construction and Erection Works</h2>

<p>
	The provision of a combination of goods and services for the development,
	extension, installation, repair, maintenance, renewal, removal, renovation,
	alteration, dismantling, or demolition of a fixed asset, including building
	and engineering infrastructure, is referred to as "construction works".
</p>

<div
	class="panel-group sub-category-panels"
	id="accordion20"
	role="tablist"
	aria-multiselectable="true"
>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading20">
			<h3 class="panel-title">
				<a
					class="collapsed"
					data-toggle="collapse"
					data-parent="#accordion20"
					href="#collapse20"
					aria-expanded="true"
					aria-controls="collapse20"
				>
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
					Civil Construction
				</a>
			</h3>
		</div>
		<div
			id="collapse20"
			class="panel-collapse collapse"
			role="tabpanel"
			aria-labelledby="heading20"
		>
			<div class="panel-body">
				<p class="mb-0">
					It is a branch of Civil Engineering involved with the
					maintenance, design and construction of both natural and
					physically built environments such as roads, railways, buildings,
					reservoirs, airports, bridges, sewer systems, tunnels and dams.
					We offer cost effective construction solution for industrial and
					commercial buildings. Our dedicated team ensures the quality of
					the structures as per the design and compliances provided by the
					client or we provide our own solution for the project if our
					client feel the need of it.
				</p>
			</div>
		</div>
	</div>
</div>

<div
	class="panel-group sub-category-panels"
	id="accordion21"
	role="tablist"
	aria-multiselectable="true"
>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading21">
			<h3 class="panel-title">
				<a
					class="collapsed"
					data-toggle="collapse"
					data-parent="#accordion21"
					href="#collapse21"
					aria-expanded="true"
					aria-controls="collapse21"
				>
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
					Erection Works
				</a>
			</h3>
		</div>
		<div
			id="collapse21"
			class="panel-collapse collapse"
			role="tabpanel"
			aria-labelledby="heading21"
		>
			<div class="panel-body">
				<p class="mb-0">
					Building, altering, repairing, maintaining, demolishing, and
					dismantling a structure are all examples of erection work. Steel
					erection entails putting up metal structures by connecting steel
					beams, columns, and surfaces to form a metal skeleton. We are
					also capable of erection works that require such support, using
					modern lifting equipment such as Tower Cranes, Rough Terrain
					Cranes, Crawler Cranes and other heavy lifting machineries.
				</p>
			</div>
		</div>
	</div>
</div>
