<h2 class="font-alt">Project Management</h2>
<p class="mb-0">
	From conception to completion, construction project management implies
	directing and organizing each stage of the project life cycle. It's a
	comprehensive approach with the goal of completing projects on time and on
	budget. Cost control, scheduling, procurement, and risk assessment are all
	important aspects of construction project management. From architects to
	owners to contractors, project managers interact with all team members
	involved in a construction project.
</p>
