<h2 class="font-alt">Ready‐Mix Concrete</h2>
<p>
	Ready‐mix Concrete refers to concrete that is made specifically for a
	customer's construction project and delivered to them as a single product on
	site. Cement, water, and aggregates such as sand, gravel, or crushed stone
	are used to make it. All aggregates should be washed and contain only a small
	amount of fines, dirt, or clay. To account for the time it takes for the
	transit mixer to arrive on site, an admixture is frequently added to improve
	the workability of the concrete and/or increase the setting time of the
	concrete (using retarders).
</p>
