@import "./variables.scss";
@import "./helper";
@import "./typography.scss";
@import "./components.scss";

.hs-line-6 {
	opacity: 1;
}

.btn-mod.btn-w {
	background-color: #fff;
}

.btn-mod.btn-w:hover,
.btn-mod.btn-w:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

.works-grid.hover-white .work-item:hover .work-img:after {
	background-color: rgba(0, 0, 0, 0.7);
}

.works-grid.hover-white .work-item:hover .work-intro,
.works-grid.hover-white .work-item:hover .work-title,
.works-grid.hover-white .work-item:hover .work-descr {
	color: #fff;
}

.cap-icons {
	width: 80px;
	margin-bottom: 15px;
}

.alt-features-icon .research-icon {
	width: 80px;
}

.child-page .main-nav.transparent {
	background-color: #000 !important;
}

.small-section {
	&.topbar-bg {
		background-image: url("../images/bg/t3.1.jpg");
		background-attachment: unset;
	}

	&.rnpp-bg {
		background-image: url("../images/bg/rnpp-bg.jpg");
		background-attachment: unset;
	}

	&.buft-bg {
		background-image: url("../images/bg/buft-bg.jpg");
		background-attachment: unset;
	}

	&.brac-bg {
		background-image: url("../images/bg/brac-bg.jpg");
		background-attachment: unset;
	}

	&.bsmmu-bg {
		background-image: url("../images/bg/bsmmu-bg.jpg");
		background-attachment: unset;
	}

	&.accpp-bg {
		background-image: url("../images/bg/accpp-bg.jpg");
		background-attachment: unset;
	}

	&.color-city-bg {
		background-image: url("../images/bg/color-city-bg.jpg");
		background-attachment: unset;
	}

	&.dmrtd-bg {
		background-image: url("../images/bg/dmrtd-bg.jpg");
		background-attachment: unset;
	}

	&.hsia-bg {
		background-image: url("../images/bg/hsia-bg.jpg");
		background-attachment: unset;
	}

	&.iplz-bg {
		background-image: url("../images/bg/iplz-bg.jpg");
		background-attachment: unset;
	}

	&.mstpp-co-p15-bg {
		background-image: url("../images/bg/mstpp-co-p15-bg.jpg");
		background-attachment: unset;
	}

	&.mstpp-rc-p2021-bg {
		background-image: url("../images/bg/mstpp-co-p2021-bg.jpg");
		background-attachment: unset;
	}

	&.mstpp-ge-bg {
		background-image: url("../images/bg/mstpp-ge-bg.jpg");
		background-attachment: unset;
	}

	&.mstpp-rc-pbc-bg {
		background-image: url("../images/bg/mstpp-rc-pbc-bg.jpg");
		background-attachment: unset;
	}

	&.pfsi-bg {
		background-image: url("../images/bg/pfsi-bg.jpg");
		background-attachment: unset;
	}

	h1 {
		color: #fff;
	}

	.mod-breadcrumbs {
		color: #fff;

		a {
			color: #fff;
		}
	}
}

.footer {
	a:hover {
		color: #fff;
		text-decoration: none;
	}

	.footer-social-links {
		a {
			color: #888;

			&:hover {
				color: #111;

				&:before {
					background: #fff;
				}
			}

			&:before {
				border: 1px solid #888;
			}
		}
	}
}

.tmp-card {
	/* Add shadows to create the "card" effect */
	margin-bottom: 50px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.projects {
	display: grid;
	gap: 5px;
	grid-template-columns: auto;
	justify-content: center;

	@media screen and (min-width: 430px) {
		grid-template-columns: repeat(2, auto);
	}

	@media screen and (min-width: 992px) {
		grid-template-columns: repeat(3, auto);
	}

	.project {
		display: block;
		max-width: 400px;
		overflow: hidden;
		position: relative;
		text-decoration: none;

		&:hover {
			color: #111;

			h2 {
				top: 50px;
				font-weight: 700;
			}

			.desc {
				top: 120px;
			}

			.visit {
				right: 0;
				background-color: rgba(0, 0, 0, 0.7);

				i {
					color: green;
				}
			}

			.layer {
				top: 0;
			}
		}

		h2 {
			font-size: 19px;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			padding: 5px;
			position: absolute;
			width: 100%;
			top: calc(100% - 36px);
			transition: all 0.5s;
			z-index: 2;
		}

		.desc {
			font-size: 15px;
			color: #fff;
			text-align: center;
			width: 100%;
			padding: 0 20px;
			position: absolute;
			top: 100%;
			transition: all 0.5s;
			z-index: 2;

			img {
				height: 20px;
			}
		}

		.visit {
			color: #fff;
			text-transform: uppercase;
			padding: 5px 10px;
			border: none;
			border-bottom-left-radius: 5px;
			background-color: rgba(0, 0, 0, 0.4);
			position: absolute;
			top: 0;
			right: -81px;
			z-index: 2;
			transition: all 0.5s;

			i {
				padding-right: 5px;
				transition: all 0.5s;
			}
		}

		.layer {
			background-color: rgba(0, 0, 0, 0.4);
			position: absolute;
			width: 100%;
			bottom: 0;
			top: calc(100% - 36px);
			transition: all 0.5s;
			z-index: 1;
		}
	}
}

#cta {
	padding: 0;
	margin-bottom: 70px;
	// border: 2px solid #111;

	.container-fluid {
		padding: 70px 0;
		width: 100%;
		max-width: 100%;
	}

	#contact_form {
		padding: 50px 0;
	}

	#contact_form_wrapper {
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s;

		// &.active {
		// 	max-height: 1000px;
		// }
	}

	#message {
		height: 131px;
	}

	#submit_btn {
		width: 100%;
	}

	#contact_form_trigger {
		font-size: 17px;
		padding: 8px 45px;

		i {
			font-size: 23px;
			font-weight: 2682500;
			position: relative;
			top: 2px;
			transition: all 0.5s;
		}
	}
}

.form input[type="email"] {
	text-transform: none;
}

#project_showcase {
	.tpl-alt-tabs {
		display: flex;

		li {
			width: 100%;
			display: block;
			background-color: #f1f1f1 !important;

			.dark {
				display: none;
			}
			a {
				font-size: 19px;

				&:hover {
					color: #a3a3a3;
				}

				img {
					width: 32px;
					display: block;
					margin: 0 auto;

					@media screen and (min-width: 360px) {
						display: inline;
					}
				}
			}

			&.active {
				background-color: #fff !important;

				.dark {
					display: block;

					@media screen and (min-width: 360px) {
						display: inline;
					}
				}

				.light {
					display: none;
				}

				a {
					&:hover {
						color: #111;
					}
				}
			}
		}
	}

	h1 {
		color: inherit;
	}

	.mod-breadcrumbs {
		color: inherit;

		a {
			color: inherit;
		}
	}

	.header-container {
		padding: 30px 0;
		border-bottom: 2px solid #ddd;
	}
}

#single_project {
	.tpl-alt-tabs {
		display: flex;

		li {
			width: 100%;
			display: block;
			background-color: #f1f1f1 !important;

			&.active {
				background-color: #fff !important;
			}

			a {
				font-size: 19px;

				i {
					font-size: 35px;
					position: relative;
					top: 5px;
				}
			}
		}
	}

	table {
		font-size: 16px;

		th {
			// min-width: 50px;
			// width: 50px;
			// min-width: 50px;

			&:nth-child(1) {
				width: 50px;
				vertical-align: middle;
			}

			&:nth-child(2) {
				width: 140px;
				vertical-align: middle;
			}
		}
		img {
			height: 20px;
		}

		th {
			&:nth-child(3) {
				min-width: 120px;
			}
		}
	}

	.map {
		border: none;
		width: 100%;
		height: 300px;
	}

	#gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3px;

		a {
			display: block;
			max-width: 400px;
			overflow: hidden;
			position: relative;
			text-decoration: none;

			&:hover {
				.view {
					right: 0;
					background-color: rgba(0, 0, 0, 0.7);

					i {
						color: green;
					}
				}
			}

			p {
				color: #fff;
				position: absolute;
				width: 100%;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.4);
				bottom: 0;
				margin: 0;
			}

			.view {
				color: #fff;
				text-transform: uppercase;
				padding: 5px 10px;
				border: none;
				border-bottom-left-radius: 5px;
				background-color: rgba(0, 0, 0, 0.4);
				position: absolute;
				top: 0;
				right: -105px;
				z-index: 2;
				transition: all 0.5s;

				i {
					padding-right: 5px;
					transition: all 0.5s;
				}
			}
		}
	}
}
