@import "./variables.scss";
@import "./helper";
@import "./typography.scss";

.hs-line-6 {
	opacity: 1;
}

.btn-mod.btn-w {
	background-color: #fff;
}

.btn-mod.btn-w:hover,
.btn-mod.btn-w:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

.works-grid.hover-white .work-item:hover .work-img:after {
	background-color: rgba(0, 0, 0, 0.7);
}

.works-grid.hover-white .work-item:hover .work-intro,
.works-grid.hover-white .work-item:hover .work-title,
.works-grid.hover-white .work-item:hover .work-descr {
	color: #fff;
}

.cap-icons {
	width: 80px;
	margin-bottom: 15px;
}

.alt-features-icon .research-icon {
	width: 80px;
}

.card {

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transition: 0.3s;
	cursor: pointer;
	text-decoration: none;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	text-decoration: none;
}
.card .alt-features-item {
	margin-bottom: 80px;
}

.child-page .main-nav.transparent {
	background-color: #000 !important;
}
