@import "./variables.scss";
@import "./helper";
@import "./typography.scss";
@import "./components.scss";

.hs-line-6 {
	opacity: 1;
}

.btn-mod.btn-w {
	background-color: #fff;
}

.btn-mod.btn-w:hover,
.btn-mod.btn-w:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

.works-grid.hover-white .work-item:hover .work-img:after {
	background-color: rgba(0, 0, 0, 0.7);
}

.works-grid.hover-white .work-item:hover .work-intro,
.works-grid.hover-white .work-item:hover .work-title,
.works-grid.hover-white .work-item:hover .work-descr {
	color: #fff;
}

.cap-icons {
	width: 80px;
	margin-bottom: 15px;
}

.alt-features-icon .research-icon {
	width: 80px;
}

.child-page .main-nav.transparent {
	background-color: #000 !important;
}

.small-section {
	&.topbar-bg {
		background-image: url("../images/bg/t3.1.jpg");
		background-attachment: unset;
	}

	h1 {
		color: #fff;
	}

	.mod-breadcrumbs {
		color: #fff;

		a {
			color: #fff;
		}
	}
}

.footer {
	a:hover {
		color: #fff;
		text-decoration: none;
	}

	.footer-social-links {
		a {
			color: #888;

			&:hover {
				color: #111;

				&:before {
					background: #fff;
				}
			}

			&:before {
				border: 1px solid #888;
			}
		}
	}
}

.tmp-card {
	/* Add shadows to create the "card" effect */
	margin-bottom: 50px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.project {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;

	&:hover {
		box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
	}

	.btn {
		margin-top: 5px;
		position: absolute;
		right: -135px;
	}

	.title {
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 100%;
		text-align: center;
		margin: 0 0 20px;
	}

	.table-responsive {
		width: 75%;
		margin: 0 auto;
		position:relative;
		z-index: -1;
	}

	.toggle-details {
		color: #ddd;
		text-transform: uppercase;
		border: none;
		width: 100%;
		font-weight: 700;
		font-size: 19px;
		background-color: rgba(0, 0, 0, 0.8);
		letter-spacing: 10px;
	}

	.details {
		padding-top: 20px;
		margin-top: -300px;
		transition: all .5s;
	}

	&.active {
		box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);

		.btn {
			right: -5px;
		}

		.details {
			margin-top: 0;
		}
	}
}
