.text-bold {
	font-weight: 700;
}

.bg-gray-lighter {
	h1 {
		color: inherit !important;
	}

	.mod-breadcrumbs {
		color: inherit !important;

		a {
			color: inherit !important;
		}
	}
}

p {
	font-size: 16px;
	text-align: justify;
}

.custom-title-1 {
	text-align: left;
	margin: 30px 0;
}

.para-left {
	position: relative;
	margin: 0 0 50px;
	padding: 0 0 25px 60px;
	border-left: 5px solid #aaa;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		background: #aaa;
		width: 50px;
		height: 5px;
	}
}

.para-right {
	position: relative;
	margin: 0 0 50px;
	padding: 0 60px 25px 0;
	border-right: 5px solid #aaa;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		background: #aaa;
		width: 50px;
		height: 5px;
	}
}

.para-middle {
	position: relative;
	margin: 0 0 50px;
	padding: 0;
	border: none;

	@media screen and (min-width: 600px) {
		padding: 15px 25px;
		border-right: 5px solid #aaa;
		border-left: 5px solid #aaa;

		&:after,
		&:before {
			content: "";
			position: absolute;
			background: #aaa;
			width: 50px;
			height: 5px;
		}

		&:after {
			bottom: 0;
			right: 0;
		}

		&:before {
			top: 0;
			left: 0;
		}
	}

	@media screen and (min-width: 768px) {
		padding: 25px 60px;
	}
}

h2 {
	margin: 0 0 20px;
}

.hs-line-11 {
	letter-spacing: 3px;
	line-height: 1.2;

	@media screen and (min-width: 768px) {
		line-height: 1.8;
	}
}

.font-alt {
	letter-spacing: 1px;
}

#legal {
	main {
		h2 {
			font-size: 19px;
			margin: 40px 0 15px;

			@media screen and (min-width: 768px) {
				font-size: 23px;
				margin: 50px 0 20px;
			}
		}

		p,
		ul {
			margin: 0 0 15px;

			@media screen and (min-width: 768px) {
				margin: 0 0 20px;
			}
		}

		li {
			margin: 0 0 5px;
			font-size: 16px;
		}
	}
}

.h3-legal {
	font-size: 16px;
	font-weight: 700;
	font-family: Dosis, arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 30px 0 20px;
}

.section-title {
	font-size: 19px;

	@media screen and (min-width: 768px) {
		font-size: 23px;
	}
}

p {
	margin: 0 0 15px;

	@media screen and (min-width: 768px) {
		margin: 0 0 20px;
	}
}

h2 {
	font-size: 19px;
	margin: 40px 0 15px;

	@media screen and (min-width: 768px) {
		font-size: 23px;
		margin: 50px 0 20px;
	}
}
